:root {
  --transition-duration: 2s;
  --path-length: 157px;
  --fill-color: #33ff99;
}

#output-image-loader {
  display: none;
  transform: scale(75%);
  overflow: visible;
  width: 100px;
  height: 150px;
}

#output-image-loader g {
  animation: slide var(--transition-duration) linear infinite;
}

#output-image-loader g:nth-child(2) {
  animation-delay: calc(var(--transition-duration) / 4);
}

#output-image-loader g:nth-child(2) path {
  animation-delay: calc(var(--transition-duration) / 4);
  stroke-dasharray: 0 calc(var(--path-length) + 1px); /* Added "px" for clarity */
  stroke-dashoffset: 1px;
}

#output-image-loader path {
  stroke: var(--fill-color);
  stroke-width: 20px;
  stroke-linecap: round;
  fill: none;
  stroke-dasharray: 0 var(--path-length);
  stroke-dashoffset: 0;
  animation: escalade var(--transition-duration) cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

@keyframes slide {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(50px);
  }
}

@keyframes escalade {
  0% {
    stroke-dasharray: 0 var(--path-length);
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: var(--path-length) var(--path-length);
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: var(--path-length) var(--path-length);
    stroke-dashoffset: calc(-1 * (var(--path-length) - 1px)); /* Corrected calc syntax */
  }
}
